@import '../../HomePage/variables.scss';

.login-form {
  p {
    color: $muted-color;
    padding-bottom: 16px;
  }

	input {
		width: 100%;
		padding: 24px 0 24px 40px;
		background-color: $input-color;
		border: none;
		border-radius: 12px;
		font-family: 'Rubik';
		font-size: 20px;
		box-sizing: border-box;
		margin-bottom: 20px;

		&::placeholder {
			color: $active-color;
			font-size: 20px;
			font-family: 'Rubik';
		}
	}

	button {
		width: 100%;
		margin-top: 20px;
		padding: 22px 40px;
		color: #FFF;
		font-family: Rubik;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		border: none;
		border-radius: 12px;
		background-color: $active-color;
		cursor: pointer;
	}
}

@media screen {
	
}