@import '../HomePage/variables.scss';

.hotel-container {
  width: 100%;
  padding: 100px 0;

  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include rubik;

    div {
      h1 {
        font-size: 40px;
        font-family: 'Rubik';
        padding-bottom: 20px;
      }
    }

    .buttons-and-score {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 20px;

      button {
        background-color: $blue-color;
        border: none;
        cursor: pointer;
        padding: 20px;
        border-radius: 16px;

        &:hover {
          background-color: $score-color;
        }

        p {
          color: $white-color;
        }
      }

      .score {
        background-color: $score-color;
        color: $white-color;
        padding: 7px;
        border-radius: 7px;
        width: 35px;

        p {
          text-align: center;
        }
      }
    }


  }

  .swiper {
    margin-top: 40px;
    max-width: 1000px;
    height: 100%;

    .swiper-wrapper {
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    @include buttons;
  }

  .description {
    margin-top: 40px;
    max-width: 1300px;
    line-height: 1.5em;
  }

  .price-container {
    margin-top: 100px;

    .nights {
      margin-top: 30px;
    }

    p {
      span {
        text-align: center;
        font-weight: 500;
        font-size: 36px;
        padding: 10px;
        border: 3px $blue-color solid;
        border-radius: 10px;
      }
    }

  }
}

@media screen and (max-width: $tablet) {
  .hotel-container {
    padding: 50px 0;

    .info {
      gap: 20px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .hotel-container {
    .info {
      display: block;

      .buttons-and-score {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
      }

      div {
        h1 {
          font-size: 32px;
        }

      }
    }
  }
}