@import '../../../styles/variables.scss';

.general-container {
  @include container-size;
  @include playfair;
  @include headers;
  padding: 100px 0;
  width: 100%;
  height: 545px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;

  p {
    font-size: 18px;
  }

  .description {
    max-width: 394px;
    width: 100%;

    .button-decoration {
      margin-top: 50px;
      padding-left: 40px;
      position: relative;

      .black-rectangle {
        width: 43px;
        height: 43px;
        background-color: $black-color;
        position: absolute;
        margin-top: -15px;
        margin-left: -20px;
        z-index: 1;
      }

      button {
        background-color: $active-color;
        border: none;
        color: $white-color;
        padding: 20px;
        border-radius: 12px;
        position: relative;
        z-index: 1000;
        cursor: pointer;

        &:hover {
          background-color: $hover-color;
        }

        a {
          text-decoration: none;
          color: $white-color;
        }
      }

      .grey-rectangle {
        width: 43px;
        height: 43px;
        background-color: $muted-color;
        position: absolute;
        margin-top: -30px;
        margin-left: 160px;
        z-index: 1;
      }
    }
  }

  .sliders-container {
    max-width: 1062px;
    min-width: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 1;

    .slide {
      width: 300px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .no-swiper {
    display: block;

    .general-container {
      padding: 100px 0 80px 0;
      height: auto;
    } 
  }
}

@media screen and (max-width: $mobile) {

    .general-container {
      padding: 80px 0 80px 0;
    } 
  
}