@import '../../../../styles/variables.scss';

.trip-planners-card {
	width: 300px;
	height: 545px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	.image {
		width: 100%;
		height: 400px;
		padding: 0;
		margin: 0;
		transition: transform 0.5s;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
			border-radius: 26px;
		}
	}

	.hovered {
		transform: translateY(-10px);
	}

	.info {
		padding-top: 20px;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.5s, visibility 0.5s;

		div {
			display: flex;
			justify-content: space-between;

			p {
				font-size: 18px;
				color: $black-color;
			}
		}

		h3 {
			padding: 12px 0;
			font-size: 28px;
		}
	}

	.visible {
		opacity: 1;
		visibility: visible;
	}
}

@media screen and (max-width: $tablet) {
	.trip-planners-card {
		width: 100%;
		height: auto;

		.info {
			opacity: 1;
			visibility: visible;
			padding-bottom: 60px;
		}
	}
}