@import '../../../styles/variables.scss';

.hotel-container {
  width: 100%;
  padding: 100px 0;

  .info {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;


    .buttons-and-score {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 20px;

      .fav-and-score {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 30px;
      }
    }
  }

  .swiper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    height: 660px;

    .container {
      max-width: 1000px;
      width: 100%;
    }
  }
}

@media screen and (max-width: $tablet) {
  .hotel-container {
    padding: 50px 0;

    .info {
      gap: 20px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .hotel-container {
    .info {
      display: block;

      .buttons-and-score {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
      }

      div {
        h1 {
          font-size: 32px;
        }

      }
    }
  }
}