.favourite {
	margin: 20px 0;
	border-radius: 16px;
	padding: 20px 0;
	border: 1px #d1d3e0 solid;
	box-shadow: 0px 0px 2px 0px rgb(0.26, 0.29, 0.42);
	max-width: 600px;
	width: 100%;
	height: 135.5px;

	.container {
		padding: 0 20px;

		.flex {
			display: flex;
			justify-content: end;
		}
	}
}