@import "/components/HomePage/variables.scss";

@font-face {
  font-family: 'Playfair';
  src: url(/public/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: 'Rubik';
  src: url(/fonts/Rubik-Regular.ttf);
}

section {
  display: flex;
	justify-content: center;
  align-items: center;
  height: 100%;
	padding: 0 32px;

}

html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Rubik';
  font-size: 24px;
}

@media screen and (max-width: $mobile) {
  section {
    padding: 0 20px;
  }

  p {
    font-size: 18px;
  }
}